<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="defaultConfigMedico" type="ControlMedicoApi.DefaultConfigMedico, ControlMedicoApi" />
  </configSections>
<appSettings>
    <add key="CorreoEnvioNotificaciones" value="dev.artortech@outlook.com" />
    <add key="ClaveEnvioNotificaciones" value="C0rr30@rT0r" />
    <add key="PuertoEnvioNotificaciones" value="587" />
    <add key="ServidorEnvioNotificaciones" value="smtp.live.com" />
  </appSettings>
  <!--Configuración Default Medico-->
  <defaultConfigMedico>
    <initialMedicoConfigurations>
      <initialMedicoConfiguration idConfiguracionMedico="0" idMedico="0" descripcion="Periodo de tiempo para Citas" tipoConfiguracion="int" valor="15" activo="1" nombre="CitaTimeScale" />
      <initialMedicoConfiguration idConfiguracionMedico="1" idMedico="0" descripcion="Mostrar mis datos en receta" tipoConfiguracion="bool" valor="true" activo="1" nombre="DatosMedicoImprimReceta" />
      <initialMedicoConfiguration idConfiguracionMedico="2" idMedico="0" descripcion="Mis pacientes pueden ver su expediente" tipoConfiguracion="bool" valor="true" activo="1" nombre="PacienteVerExpe" />
      <initialMedicoConfiguration idConfiguracionMedico="3" idMedico="0" descripcion="Mis pacientes pueden ver sus citas" tipoConfiguracion="bool" valor="true" activo="1" nombre="PacienteVerCita" />
    </initialMedicoConfigurations>
  </defaultConfigMedico>
  <connectionStrings>
    <add name="ControlMedicoConnection" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=ControlMedicoDB;server=MXGDC-0492\SQLEXPRESS" providerName="System.Data.SqlClient" />
    <add name="ControlMedicoDBEntities" connectionString="metadata=res://*/Models.ControlMedicoDBModel.csdl|res://*/Models.ControlMedicoDBModel.ssdl|res://*/Models.ControlMedicoDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXGDC-0492\SQLEXPRESS;initial catalog=ControlMedicoDB;integrated security=True;persist security info=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ControlMedicoFileDBConnection" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=ControlMedicoFileDB;server=MXGDC-0492\SQLEXPRESS" providerName="System.Data.SqlClient" />
    <add name="ControlMedicoFileDBEntities" connectionString="metadata=res://*/Models.ControlMedicoFileDBModel.csdl|res://*/Models.ControlMedicoFileDBModel.ssdl|res://*/Models.ControlMedicoFileDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MXGDC-0492\SQLEXPRESS;initial catalog=ControlMedicoFileDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4000.0" newVersion="1.50.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>