<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Orden</span>
    </h1>    
  </div>
  
  <table class='table' *ngIf="ordenes">
    <thead>
        <tr>
            <th>Pagado</th>
            <th>Entregado</th>
            <th>Paciente</th>
            <th>Especimen</th>
            <th>Recepcion</th>
            <th>Entrega</th>
            <th>Diagnostico</th>
            <th>Medico Tratante</th>
            <th>Precio</th>
            <th>Entregado por</th>
            <th>Observaciones</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orden of ordenes">
            <td><input type="checkbox" [checked]="orden.Pagado" /></td>
            <td><input type="checkbox" [checked]="orden.Entregado" /></td>
            <td>{{ orden.Paciente.Nombre }}</td>
            <td>{{ orden.Especimen.Descripcion }}</td>
            <td>{{ orden.FechaRecepcion }}</td>
            <td>{{ orden.FechaEntrega }}</td>
            <td>{{ orden.Diagnostico }}</td>
            <td>{{ orden.Medico.Nombre }}</td>
            <td>{{ orden.Precio }}</td>
            <td>{{ orden.Entrega }}</td>
            <td>{{ orden.Observaciones }}</td>          
        </tr>
    </tbody>
  </table>

</div>

